body{
    background-image: url(background.jpg);
    background-repeat: repeat;
}

header{
    text-align: center;
    height: 12em;
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/170407220916-04-iconic-mountains-matterhorn-restricted.jpg"); 
    background-position-y: -20em;
}

nav{
    text-align: center;
	height: 3em;
    background-color: orange;
}

footer{
    height: 1.5em;
    background-color: orange;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    padding: 1em;
}

#bodyimage{
    float: left;
    display: inline;
    margin: 4em;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10%;
	box-shadow: 2em 2em 1em grey;
}

p{
    display: inline;
}

#main{
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
    top: -5.5em;
    display: block;
    padding: 1%; 
    border: outset;
    border-color: lightblue;
    border-width: 0 0.2em 0.2em 0.2em;
    box-shadow: 2em 2em 1em -1em grey;
    
    
}

#headertext{
    position: relative;
    top: -0.9em;
    font-size: 5em;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    color: orangered;
    text-align: center;
}

#bodytext{
    margin: 1.5em;
    display: inline;
    font-size: 1.6em;
}

#listheader{
    margin-top: 2em;
    padding: 1em 0 1em 2em;
}

li{
    margin: 0;
    padding: 1em 0 1em 2em;
    list-style: none;
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
}

a{
    margin: 2.5em;
    text-decoration: none;
    color: blue;
    position: relative;
    top: 1em;
}

a:hover{
    color: red;
}

a:active{
    color: purple;
}