header{
    height: 10em;
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/170407220916-04-iconic-mountains-matterhorn-restricted.jpg");
    background-position-y: -20em;
    background-color: lightgrey;
}
nav{
    height: 3em;
    background-color: lightblue
}
footer{
    height: 2em;
    background-color: lightblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#bodyimage{
    float: left;
    display: inline;
    margin: 1em;
    border-style: solid;
    border-color: lightblue;
    border-radius: 10%;
}
p{
    display: inline;
}
#main{
    display: block;
    padding: 1%;
    height: 30em;
    border: outset;
    background-color: lightgray;
    
}
#bodytext{
    margin: 1em;
    display: inline;
    vertical-align: top;
}
li{
    margin: 0;
    padding: 1em 0 1em 2em;
    list-style: none;
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
}